<form [formGroup]="cardInfo" (ngSubmit)="saveNewCard()">
	<div class="inputWrapper">
		<select class="form-control" 
        name="card_flag"
		formControlName="card_flag">
		<option value="null" >Selecione a bandeira</option>
		<option *ngFor="let card_flag of card_flags" 
		        [value]="card_flag.id">
		        {{ card_flag.name }}
		</option>  
		</select>
	</div>
	<div class="inputWrapper">
		<label for="card_name">Nome escrito no cartão</label>
		<input type="text" name="card_name" formControlName="card_name" placeholder="Nome escrito no cartão" >
	</div>
	<div class="inputWrapper">
		<label for="card_number">Número no cartão</label>
		<input type="text" name="card_number" formControlName="card_number" placeholder="Número no cartão" >
	</div>
	<div class="inputWrapper">
		<label for="expiry_date">Validade (mm/aaa)</label>
		<input type="text" name="expiry_date" formControlName="expiry_date" placeholder="Validade (mm/aaa)" >
	</div>
	<div class="inputWrapper">
		<label for="security_code">Código de segurança</label>
		<input type="text" name="security_code" formControlName="security_code" placeholder="Código de segurança" >
	</div>
	<div class="inputWrapper">
		<label for="billing_cep">CEP do endereço da fatura</label>
		<input type="text" name="billing_cep" formControlName="billing_cep" placeholder="CEP do endereço da fatura" >
	</div>
	<div *ngIf="card_name.touched && card_name.errors">
	    <div class="alert alert-danger" *ngIf="card_name.errors.required">
	      The email is required
	    </div>
	</div>
	<button class="btn btn-primary" type="submit" [disabled]="!cardInfo.valid">CADASTRAR</button>
</form>